---
title: Getting Started
---

<h1>Getting Started</h1>

<h2>Installation</h2>
<p>Install the following packages to get started:</p>
<pre>
  <code>
    npm install @bigtest/cli @bigtest/interactor @bigtest/convergence -D

    // if you're installing with yarn
    yarn add @bigtest/cli @bigtest/interactor @bigtest/convergence --dev
   </code>
</pre>

You can then run the CLI tool to generate 

<%= partial 'partials/quest-issue', locals: {
  issue_number: 14
} %>
